@model library_automation.Models.BookAuthorViewModel

@{
    ViewData["Title"] = "Edit Book";
}

<h1>Edit Book</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <input type="hidden" asp-for="Book.Id" />
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.AuthorId" class="control-label">Author</label>
                <select asp-for="Book.AuthorId" class="form-control" asp-items="ViewBag.Author"></select>
                <span asp-validation-for="Book.AuthorId" class="text-danger"></span>
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                    data-bs-target="#createAuthorModal" onclick="console.log('Add New Author clicked');">Add New
                    Author</button>
            </div>
            <div class="form-group">
                <label asp-for="Book.Publisher" class="control-label"></label>
                <input asp-for="Book.Publisher" class="form-control" />
                <span asp-validation-for="Book.Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.PublicationYear" class="control-label"></label>
                <input asp-for="Book.PublicationYear" class="form-control" />
                <span asp-validation-for="Book.PublicationYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Genre" class="control-label"></label>
                <input asp-for="Book.Genre" class="form-control" />
                <span asp-validation-for="Book.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@await Html.PartialAsync("_CreateAuthorPartial", Model.Author)